

body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: rgb(122, 120, 120);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color:  rgb(199, 122, 8);
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
    color: rgb(59, 45, 30);
  }
  
  .exchange-controls {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .exchange-controls button {
    background-color:rgb(199, 122, 8);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: rgb(14, 13, 13);
    cursor: pointer;
  }
  
  .exchange-controls button.active {
    background-color: rgb(206, 129, 15);
  }
  
  .conversion-box {
    background-color: #0e0c0c;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .conversion-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .conversion-input input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .conversion-input span {
    align-self: center;
  }
  
  .conversion-result {
    font-size: 1.2em;
  }
  

  .Footer a{


   color: rgb(59, 45, 30);

  } 
  .Footer {


    color: rgb(59, 45, 30);
    
      } 
 
  




@media screen and (max-width: 320px) {
    .container { 
        width: 200px;
        margin-left: 5%;   
     }
     .conversion-result {
      font-size: 1.0em;
    }
  
    }

    @media screen and (max-width: 768px) {
      .container { 
          width: 200px;
          margin-left: 5%;   
       } 

       .conversion-result {
        font-size: 1.0em;
      }
    
      }