

.h2{

text-align: center;


} 

.container{
    background-color:  rgb(199, 122, 8);
    width: 300px;
    height: 300px;
    margin-left: 40%;    
}

input{
width: 100px;


}

body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color:  rgb(199, 122, 8);
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
    color: antiquewhite;
  }
  
  .exchange-controls {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .exchange-controls button {
    background-color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }
  
  .exchange-controls button.active {
    background-color: #043117;
  }
  
  .conversion-box {
    background-color: #1f1e1e;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .conversion-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .conversion-input input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .conversion-input span {
    align-self: center;
  }
  
  .conversion-result {
    font-size: 1.5em;
  }
  
 
  




@media screen and (max-width: 425px) {
    .container { 
        width: 200px;
        margin-left: 20%;   
     }
  
    }
